.Eligiblity-card {
    background-color: #008649;
    padding: 20px;
    text-align: center;
}

.Eligiblity-card h4 {
    color: #fff;
    margin-bottom: 0px;
}

.Eligiblity-icon {
    /* border-radius: 100%; */
    /* border: solid 1px #cccccc; */
    width: 80px;
    height: 70px;
    margin: 0 auto;
}

/* .custodian-service{
    background-image: linear-gradient(to right, #005DB1 , #004484);
    padding: 20px;
    text-align: center;
    height: 100%;
    
} */
/* #c-profile p{
    color:#fff;
} */
#c-profile p {
    color: #000;
}

.Eligiblity-title {
    color: rgb(0, 114, 188);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}



.faq>.accordion>.card {
    width: 100%;
}

.faq>.accordion>.card>.card-header {
    background-color: #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0px;
    border: 1px solid rgb(226, 226, 226);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq>.accordion>.card>.card-header>.title {
    font-size: 18px;
    font-weight: 500;
    color: #008649;

}

.faq>.accordion>.card>.card-header>.accicon {
    font-size: 18px;
    font-weight: 500;
    color: #008649;
}

/* .faq > .accordion > .card > .collapse > .card-body{
    background-color: #fff;
   text-align: justify;
    font-size: 16px;
} */

.error {
    color: red !important;

}

.retail-product .col-md-2 {
    max-width: 13% !important;
}

@media (max-width: 768px) #page-content-popup {
    padding-top: 0px !important;
}

.banner-carousel {
    overflow: hidden;
}

.banner-carousel .slide-item img {
    height: 100%;
}

.carousel-fade .carousel-item {
    height: 40vh;
}

.carousel-fade .carousel-item img {
    height: 100%;
    border-radius: 8px;
}

.banner-section .owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}

.banner-section .owl-theme .owl-nav .owl-prev,
.banner-section .owl-theme .owl-nav .owl-next {
    opacity: 1;
}

.banner-section .owl-theme .owl-nav .owl-prev {
    position: absolute;
    left: 50px;
    top: 0;
    background: rgba(255, 255, 255, 0.15);
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: none;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    line-height: 56px;
    font-size: 0px;
    margin-top: -30px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.banner-section .owl-theme .owl-nav .owl-prev:after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    position: absolute;
    top: 0;
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-weight: 500;
    left: 0;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.banner-section .owl-theme .owl-nav .owl-next {
    position: absolute;
    right: 50px;
    top: 0;
    background: rgba(255, 255, 255, 0.15);
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: none;
    text-align: center;
    line-height: 56px;
    color: rgba(0, 0, 0, 0);
    font-size: 0px;
    opacity: 1;
    cursor: pointer;
    margin-top: -30px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.banner-section .owl-theme .owl-nav .owl-next:after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    position: absolute;
    top: 0;
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-weight: 500;
    right: 0;
    color: #ffffff;
    font-size: 24px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.owl-carousel .owl-dots {
    margin-top: 10px;
    text-align: center;
}

.owl-carousel .owl-dots .owl-dot.active span {
    background: #008649;
}